<!-- Page Content  -->
<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-light">
                <i class="fas fa-bars mr-2"></i>
                <span>Menu</span>
            </button>

            <div class="input-group ml-4">
                <input type="text" class="form-control" placeholder="Buscar Trabajo" aria-label="Buscar Trabajo"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </nav>

    <div id="map"></div>

    <script>
        
        /*
        const getalljobs = async () => {
            let settings = {
                'method': 'GET',
                'headers': {'Content-Type': 'application/json',
                            'Connection': 'keep-alive',
                            'Cache-Control': 'no-cache'},
                mode: 'no-cors'
            }

            let getjobs = await fetch('https://super-jobs-api.herokuapp.com/jobs/getalljobs', settings)
            let getjsonjobs = await getjobs.json()
            console.log(getjobs)
        }

        getalljobs()
        console.log('holas')
        */

        function initMap() {

            const locationCity = { lat: 28.693952, lng: -106.129851 }
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: locationCity
            })

            const locationJob = [{ lat: 28.693952, lng: -106.129851 },
                                { lat: 28.703952, lng: -106.119851 },
                                { lat: 28.713952, lng: -106.139851 },
                                { lat: 28.643952, lng: -106.109851 },
                                { lat: 28.733952, lng: -106.149851 },
                                { lat: 28.698417, lng: -106.129811 },
                                { lat: 28.723545, lng: -106.118790 },
                                { lat: 28.665735, lng: -106.106658},
                                { lat: 28.633916, lng: -106.089935 },]
                                
            
            for (let i = 0; i < 9; i++) {
                let contentString = '<div id="content2">' +
                    `<h1 id="firstHeading" class="firstHeading">Trabajo ${i}</h1>` +
                    '<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>' +
                    '</div>';

                let infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                let marker = new google.maps.Marker({
                    position: locationJob[i],
                    map: map,
                })

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    } else {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                    }
                });
            }

        } 

    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm40ypN7aUdJd3H_B4WTtvovyW2Vz48Ws&callback=initMap"
        type="text/javascript">
    </script>

    {{!-- <div class="line"></div> --}}

</div>