<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="profile-pic" src="../assets/yo.jpeg" alt="">
            <h3>David Banda</h3>
            <strong>DB</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle notifications">
                    <i class="far fa-bell mr-1"></i>
                    Notificaciones
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Notificacion 1</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-briefcase mr-1"></i>
                    Mis trabajos
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu2">
                    <li>
                        <a href="#">Trabajo 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-money-check mr-1"></i>
                    Mi Billetera
                </a>
                <a href="#">
                    <i class="far fa-question-circle mr-1"></i>
                    Ayuda
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li class="mb-3">
                <a href="https://facebook.com" target="_blank" class="facebookD"><i
                        class="fab fa-facebook-f mr-2"></i> <strong>Conectar con Facebook</strong></a>
            </li>
            <li>
                <a href="https://google.com" target="_blank" class="googleD"><i
                        class="fab fa-google-plus-g mr-1"></i> <strong>Conectar con Google</strong></a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars mr-2"></i>
                    <span>Menu</span>
                </button>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar Trabajo"
                        aria-label="Buscar Trabajo" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </nav>

        <h2>Texto de relleno</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>

        <div class="line"></div>
    </div>
</div>