<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img class="profile-pic" src="../assets/yo.jpeg" alt="">
        <h3>David Banda</h3>
        <strong>DB</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle notifications">
                <i class="far fa-bell mr-1"></i>
                Notificaciones
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Notificacion 1</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-briefcase mr-1"></i>
                Mis trabajos
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu2">
                <li>
                    <a href="#">Trabajo 1</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-money-check mr-1"></i>
                Mi Billetera
            </a>
            <a href="#">
                <i class="far fa-question-circle mr-1"></i>
                Ayuda
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li class="mb-3">
            <a href="https://facebook.com" target="_blank" class="facebookD"><i
                    class="fab fa-facebook-f mr-2"></i> <strong>Conectar con Facebook</strong></a>
        </li>
        <li>
            <a href="https://google.com" target="_blank" class="googleD"><i
                    class="fab fa-google-plus-g mr-1"></i> <strong>Conectar con Google</strong></a>
        </li>
    </ul>
</nav>
